[user]
    email = albscui@gmail.com
    name = Albert
[alias]
    st = status
    ci = commit -v
    co = checkout
    pf = push --force-with-lease
    hist = log --pretty=format:\"%h - %an, %ar : %s\" --graph --decorate
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
[push]
    default = current
[include]
    path = ~/.gitconfig.local

